<html>
<script>
    let over=0;
    let result=0;
</script>
<>
<label>{{ match }}</label><br>
tosswinner:<label>{{ match.toss_winner }}</label><br>
tossdecision:<label>{{ match.toss_decision }}</label><br>
playerofmatch:<label>{{ match.player_of_match }}</label><br>
<label>Top3 bowlers</label><br>
<ol>
{% for bowler in top_3_bowlers %}
    <li>{{ bowler }}</li>
{% endfor %}
</ol>
<label>Top3 batsmen</label><br>
<ol>
{% for batsman in top_3_batsmen %}
    <li>{{ batsman }}</li>
{% endfor %}
</ol>
<h1>Details</h1>
<br>
<table>
    <thead>
    <th>ball</th>
    <th>runs</th>
    <th>player_dissmissed</th>
    <th>dismissal_kind</th>
    <th>fielder</th>
    </thead>
{% for ball in details %}
<tr>
    <td><span id={{ball.over}}{{ball.ball}}>{{ ball.over }}</span>.{{ ball.ball }}</td>
    <td>{{ ball.total_runs }}</td>
    <td>{{ ball.plaer_dismissed }}</td>
    <td>{{ ball.dismissal_kind }}</td>
    <td>{{ ball.fielder }}</td>
</tr>
        <script>
        over={{ball.over}};
        result=parseInt(over)-1;
        document.getElementById({{ball.over}}{{ball.ball}}).innerHTML=result;
        </script>
{% endfor %}
</table>
</body>
</html>
