{% load static %}
<html>
<head>
    <style>
/* Style The Dropdown Button */


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            {% if request.user.is_authenticated %}
            <img src="{{ img_url }}">
            <a class="button is-dark" href="{% url 'logout.url' %}">
            <strong>logout</strong>
            </a>
            {% else %}
            <a class="button is-dark" href="{% url 'login.url' %}">
            <strong>login</strong>
            </a>
            <a class="button is-dark" href="{% url 'signup.url' %}">
            <strong>signup</strong>
            </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<div class="dropdown">
  <button class="button">Season</button>
  <div class="dropdown-content">
      {% for season in seasons %}
      <a href="{% url 'seasons.url' season %}">{{ season }}</a>
      {% endfor %}
  </div>
</div>
<br>

    {% for match in matches %}
    <div class="card" style="width:50%;margin:auto">
  <header class="card-header">
    <p class="card-header-title">
      {{ match }}
    </p>
  </header>
  <div class="card-content">
    <div class="content" style="align:left">
        <strong>Venue : </strong>{{ match.venue }}<br>
        <strong>Toss Winner : </strong>{{ match.toss_winner }}<br>
        <strong>Toss Decision : </strong>{{ match.toss_decision }}<br>
        <strong>result  : </strong>{{ match.result }}<br>
        <strong>player_of_match  : </strong>{{ match.player_of_match }}<br>
        <br>
        <button class="button is-dark is-small is-outlined" onclick="window.location.href='{% url 'match.url' match.match_id %}'">Details</button>
      <br>
    </div>
  </div>
</div>
<br><br>
    {% endfor %}<br>
<div class="pagination">
    <span class="step-links">
        {% if matches.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ matches.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ matches.number }} of {{ matches.paginator.num_pages }}.
        </span>

        {% if matches.has_next %}
            <a href="?page={{ matches.next_page_number }}">next</a>
            <a href="?page={{ matches.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>