{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>
<br>
<br>
{% if act_as == 'login' %}
<img src="https://image.flaticon.com/icons/png/512/236/236832.png" width="10%" height="10%" style="position:relative;left:400px;top:120">
{% else %}
<img src="https://static.codehs.com/img/signup/individual.png" width="10%" height="10%" style="position:relative;left:400px;top:160">
{% endif %}
<center>
    <form method="post" enctype="multipart/form-data">
        <table class="table">
        {{ form }}
        </table>
        <input class="button is-dark" type="submit"><br><br>
        {% if act_as == 'login' %}
            <a href="{% url 'signup.url' %}">Signup here</a>
        {% else %}
            <a href="{% url 'login.url' %}">Login here</a>
        {% endif %}

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        </li>
        {% endfor %}
        </ul>
{% endif %}
    </form>
    </center>
</body>
</html>