{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{% url 'logout.url' %}">
            <strong>Log Out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<center>
    <form method="post">
        <table class="table">
        {{ student_form }}
        {{ marks_form }}
        </table>
        <input class="button is-dark" type="submit">
    </form>
</center>
</body>
</html>