{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{% url 'logout.url' %}">
            <strong>Log Out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>

<div>
    <center><h1 class="tag is-black"><b>Participating Colleges</b></h1></center>
</div>
    {% if 'onlineapp.add_college' in permissions %}
    <button class="button is-rounded" onclick="window.location.href='{% url 'college_add.url' %}'" style="position:absolute;left:150px">Add College</button>
    {% endif %}
<br>
<center>
    <div>
<table class="table is-hoverable" width="80%" style="position:relative;top:30px">
    <tr>
        <th>Code</th>
        <th>College</th>
        {% if 'onlineapp.change_college' in permissions and 'onlineapp.delete_college' in permissions %}
        <th>Edit</th>
        <th>Delete</th>
        {% endif %}
    </tr>
    {% for college in colleges %}
    <tr>
        <td><a href="{% url 'college_detail.url' college.acronym %}">{{ college.acronym }}</a></td>
        <td><a href="http://127.0.0.1:8000/onlineapp/colleges/{{ college.id }}">{{ college.name }}</a></td>
        {% if 'onlineapp.change_college' in permissions and 'onlineapp.delete_college' in permissions %}
        <td><a href="{% url 'edit.url' college.id %}">edit</a></td>
        <td><a href="{% url 'delete.url' college.id %}">delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
    </div>
</center>
</body>
</html>