{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{% url 'logout.url' %}">
            <strong>Log Out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<center><h1 class="tag is-black"><b>Students of {{ college.name }}</b></h1></center>
<br>
{% if 'onlineapp.add_student' in permissions %}
<button class="button is-rounded" onclick="window.location.href='{% url 'student_add.url' college.id %}'" style="position:absolute;left:150px">Add Student</button>
{% endif %}
<br>
<center>
<table class="table is-hoverable" width="80%" style="position:relative;top:30px">
    <tr>
        <th>Name</th>
        {% if 'onlineapp.change_student' in permissions and 'onlineapp.delete_student' in permissions %}
        <th>Edit</th>
        <th>Delete</th>
        {% endif %}
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        {% if 'onlineapp.change_student' in permissions and 'onlineapp.delete_student' in permissions %}
        <td><a href="{% url 'student_edit.url' student.id %}">edit</a></td>
        <td><a href="{% url 'student_delete.url' student.id %}">delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</center>
</body>
</html>